<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWFRP"
                    maxBufferPoolSize="67108864"
	                  maxBufferSize="67108864" maxConnections="100"
     	              maxReceivedMessageSize="67108864">
                    <reliableSession inactivityTimeout="20:00:10" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7997/WPFHost/tcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWFRP" contract="SVC.IWFRP"
                name="NetTcpBinding_IWFRP" />
        </client>
    </system.serviceModel>
</configuration>